---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="main">
    <h1>Coming Soon!</h1>
  </div>
</Layout>

<style>
    body {
    font-family: "Caveat", serif;
    background-color: #fdfff5;
    margin: 0;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .main {
    text-align: left;
    max-width: 800px;
    width: 100%;
    /* padding: 20px; */
    padding-top: 25px;
}

.main h1 {
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    /* text-shadow: 0 5px 7.5px #b56576; */
    color: #b56576;
}
</style>
